[Desktop Entry]
Name=Ramme
Comment=Unofficial Instagram Desktop App
Exec="/opt/Ramme/ramme"
Terminal=false
Type=Application
Icon=ramme
Categories=Internet;
