[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/instaBrute]
row=2
col=1

[/root/Desktop/Instagram_brute_force_attack]
row=0
col=1

[/root/Desktop/pupy]
row=3
col=1

[/root/Desktop/instax]
row=4
col=0

[/root/Desktop/cupp]
row=3
col=0

[1826 I01]
row=1
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/root]
row=2
col=0

